<!-- Aquí vendría el menu de la app -->
<ul class="nav justify-content-center border-bottom bg-light">
  <li class="nav-item">
    <a class="nav-link" aria-current="page"  routerLink="/">Listado</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  routerLink="/nueva">Nueva</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  routerLink="/lista/Perro">Perros</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/lista/Gato">Gatos</a>
  </li>
</ul>

<router-outlet></router-outlet>
