<div class="container">
  <h1 class="text-center mb-2">Alumnos</h1>
  <div class="row">
    <div class="col-4">

      <form [formGroup]="newAlumnoForm" (ngSubmit)="nuevoAlumno(newAlumnoForm.value)">
        <label for="name" class="label-control">Nombre:</label>
        <input type="text"
        id="name" name="name"
        class="form-control mb-1"
        formControlName="name">
        <label for="curso" class="label-control">Curso:</label>
        <input type="text"
        class="form-control mb-1"
        formControlName="id">
        <input type="submit" class="btn btn-success" value="Agregar">
      </form>
    </div>
    <div class="col-8">
      <div class="contanier-fluid">
        <div class="card" *ngFor="let alumno of alumnos">
          <div class="card-body">
            <p>{{alumno.data.name}}</p>
            <p>{{alumno.data.curso}}</p>
            <button class="btn btn-primary me-3">Editar</button>
          <button class="btn btn-danger">Eliminar</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
