<div class="container">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-6">
        <label for="first-name">First Name: </label>
        <input
          id="first-name"
          type="text"
          formControlName="firstName"
          class="form-control"
        />

        <label for="last-name">Last Name: </label>
        <input
          id="last-name"
          type="text"
          formControlName="lastName"
          class="form-control"
        />
        <div class="mt-2" formArrayName="aliases">
          <h2>Aliases</h2>
          <button class="btn btn-primary m-2" type="button" (click)="addAlias()">+ Add another alias</button>

          <div *ngFor="let alias of aliases.controls; let i = index">
            <!-- The repeated alias template -->
            <label for="alias-{{ i }}">Alias:</label>
            <input id="alias-{{ i }}" type="text" [formControlName]="i" class="form-control"/>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div formGroupName="address">
      <h2>Address</h2>

      <label for="street">Street: </label>
      <input
        id="street"
        type="text"
        formControlName="street"
        class="form-control"
      />

      <label for="city">City: </label>
      <input
        id="city"
        type="text"
        formControlName="city"
        class="form-control"
      />

      <label for="state">State: </label>
      <input
        id="state"
        type="text"
        formControlName="state"
        class="form-control"
      />

      <label for="zip">Zip Code: </label>
      <input id="zip" type="text" formControlName="zip" class="form-control" />
    </div>
      </div>
    </div>



    <button class="btn btn-warning m-2" type="button" (click)="updateProfile()">
      Update Profile
    </button>
    <p>Complete the form to enable button.</p>
    <button
      class="btn btn-secondary"
      type="submit"
      [disabled]="!profileForm.valid"
    >
      Submit
    </button>
  </form>
</div>
