<div class="container">
  <form [formGroup]="contactForm" (ngSubmit)="submit()">
    <input type="hidden" class="form-control" formControlName="id" value="0">
    <label for="first" class="label-form">Nombre</label>
    <input type="text" class="form-control" id="first" formControlName="first_name">
    <label for="last" class="label-form">Apellidos</label>
    <input type="text" class="form-control" id="last" formControlName="last_name">
    <label for="email" class="label-form">Email</label>
    <input type="text" class="form-control" id="email" formControlName="email">
    <label for="avatar" class="label-form">Avatar</label>
    <input type="text" class="form-control" id="avatar" formControlName="avatar">
    <button type="submit" [disabled]="!contactForm.valid" class="btn btn-success">Submit</button>
  </form>



<button class="btn btn-info" (click)="goBack()">Volver</button>

</div>
